.spotify-login {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #34b658;
    padding: 15px 45px;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: 2px;
}